.letter-subtitle {
    margin-bottom: 20px;
}

.letter-variable {
    width: 100%;

    display: flex;

    margin: 10px 0;
}

.letter-variable label {
    width: 150px;

    display: block;

    align-self: center;
}

.letter-variable input {
    padding: 5px 8px;
}

button.cta {
    width: 100px;

    float: right;
    margin-top: 30px;
    padding: 10px;

    background-color: var(--title-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}