.main-body section {
    margin: 20px 0;

}

form.customer-search {
    width: calc(100% - 40px);
    
    padding: 20px;    
}

input.customer-search {
    width: 100%;

    padding: 10px;
    margin: 8px 0;
    margin-bottom: 20px;

    box-sizing: border-box;
    font-family: 'Myriad Pro', sans-serif;
}

input.customer-search::-webkit-outer-spin-button,
input.customer-search::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

button.customer-cta {
    float: right;
    padding: 10px;

    background-color: var(--title-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}